.c-about-event {

    .o-row{
        margin: 1.5em 0;
    }

    &__title {
        color: $brand-primary;
        font-weight: 300;
        margin: 10px 0px 0px;        
    }

    &__text {
        color: $brand-primary;
        font-weight: 300;
        margin-top: 10px;
    }
}
