.c-code-conduct {

    &__title {
        color: $brand-primary;
        font-weight: 300;
        margin: 50px 0;
    }

    &__text {
        color: $brand-primary;
        font-weight: 300;
        margin-top: 10px;
    }
}