.c-main-header {
  width: 100%;
  display: table;
  padding-top: 20px;
  position: fixed;
  padding-left: 50px;

  &__brand {

    img {
      width: 120px;
    }
  }

  @media(max-width: $screen-xs-max){
    padding-top: 15px;
    padding-left: 15px;

    &__brand{
      img{
        width: 80px;
      }   
    }
  }
  
}
