.c-section{

    &__box{

        &--text{
            background-color: $white;
            padding: 50px 60px;
            position: relative;
            right: 100px;
            top: 35px;
        }

    }


}
