.c-team {

    &__title {
        color: $brand-primary;
        font-weight: 300;
        margin: 50px 0;
    }

    &__figure {
        padding: 5px 10px;
        max-width: 150px;

        img {
            border-radius: 50%;
        }
    }

    &__name {
        color: $brand-secondary;
        font-weight: 300;
        text-align: center;
        margin-top: 10px;
    }
}
