a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:active {
    /* stylelint-disable-line */
  }

  &:visited {
    /* stylelint-disable-line */
    // Filling this one is good UX.
  }
}
