.o-btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  margin: 20px 0 25px 0;
  transition: all 0.2s ease-out;
  border-radius: $border-radius;
  padding: 1em;
  color: $white;
  background-color: $brand-primary;
  font-size: 15px;
  text-transform: uppercase;

  &.center-block {
    margin: auto;
    display: block;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
    background-color: $brand-secondary;
  }
}
