@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mbclr4');
  src:  url('../fonts/icomoon.eot?mbclr4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mbclr4') format('truetype'),
    url('../fonts/icomoon.woff?mbclr4') format('woff'),
    url('../fonts/icomoon.svg?mbclr4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin3:before {
  content: "\e909";
}
.icon-tumblr:before {
  content: "\e90a";
}
.icon-googleplus:before {
  content: "\e90b";
}
.icon-twitter2:before {
  content: "\e90c";
}
.icon-facebook3:before {
  content: "\e90d";
}
.icon-social-tumbler-circular:before {
  content: "\e906";
}
.icon-social-facebook-circular:before {
  content: "\e907";
}
.icon-social-linkedin-circular:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e903";
}
.icon-thumbsup:before {
  content: "\e904";
}
.icon-star:before {
  content: "\e900";
}
.icon-heart2:before {
  content: "\e901";
}
.icon-mouse:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-thumbsup:before {
  content: "\e904";
}
.icon-thumbsdown:before {
  content: "\e905";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-point-up:before {
  content: "\ea03";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
