.c-about-event {
  padding-top: 1.5%;

  .o-row {
    display: flex;
    margin: 1.5em 0;

    @media (max-width: $screen-sm) {
      display: grid;
      margin: 0 0;
    }
  }

  [class*="o-col"] {
    padding: 3% 1.5%;
    background-color: $dominant-color;
    border-top: 8px solid $brand-secondary;
    margin: 0 1%;
    vertical-align: middle;
    align-items: center;
    border-radius: 5px;

    @media (max-width: $screen-sm) {
      width: 94%;
      margin: 3% auto 0;
      display: block;
    }
  }

  &__title {
    color: $brand-primary;
    font-weight: 600;
    margin: 0 0 40px 0;
    text-align: center;
    font-family: $font-family-featured;

    @media (max-width: $screen-sm) {
      font-size: 1.3em;
    }
  }

  &__text {
    color: $brand-primary;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
    font-size: 1.15em;

    @media (max-width: $screen-sm) {
      font-size: 1.12em;
    }
  }
}
