.c-main-header {
  width: 100%;
  display: block;
  padding-top: 20px;
  position: fixed;
  padding-left: 50px;
  -webkit-transition: heith 600ms linear, background-color 800ms linear;
  -moz-transition: heith 600ms linear, background-color 800ms linear;
  -ms-transition: heith 600ms linear, background-color 800ms linear;
  -o-transition: heith 600ms linear, background-color 800ms linear;
  transition: heith 600ms linear, background-color 800ms linear;

  &__brand {
    img {
      width: 120px;
      -webkit-transition: all 600ms linear;
      -moz-transition: all 600ms linear;
      -ms-transition: all 600ms linear;
      -o-transition: all 600ms linear;
      transition: all 600ms linear;
    }
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 15px;
    padding-left: 15px;

    &__brand {
      img {
        width: 80px;
      }
    }
  }

  &.min {
    background-color: rgba(255, 255, 255, 0.6);
    height: 55px;
    overflow: hidden;
    padding-top: 8px;

    .c-main-header__brand {
      img {
        width: 50px;
      }
    }
  }
}
