// Colors
$brand-primary: #913a0d;
$brand-secondary: #da691a;
$dominant-color: #fdb431;
$dominant-color-secondary: #f56b09;
$background-color: #eee0d3;

$gray-light: #f6f3f3;
$gray-medium: #ddd;
$gray-dark: #5e5e5e;

$black: #000;
$white: #fff;

// Objects
$text-color: $gray-dark;
$link-color: $brand-secondary;
$link-hover-color: $brand-secondary;

$selection-bg-color: $link-color;
$selection-text-color:      $text-color;

$border-radius: 10px;

// Typography
$font-family-base: 'Roboto', sans-serif;
$font-family-featured: 'Amaranth', sans-serif;


$font-weight-light: 300;
$font-weight-default: 400;
$font-weight-bold: 700;

// Screen Sizes
$screen-xs-max: 767px;
$screen-sm: 768px;
$screen-sm-max: 940px;
$screen-md: 941px;
$screen-md-max: 1199px;
$screen-lg: 1200px;
